#googleBigMap, #googleMap {
	color: #222;
}
.infowindow {
	width: 300px;
	padding: 10px;
}
#mapOverlay {
	display: none;
	background-color: rgba(0,0,0,.9);
}
#mapOverlay.initialized {
	display: block;
	position: fixed !important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 50;
	padding-top: 50px !important;
}
#googleBigMap {
	width: 100%;
	height: 100%;
}
#closeMap {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
}
#mapOverlay > .mapAddress {
	position: absolute;
	top: 13px;
	left: 15px;
	color: #fff;
}